:root {
  --accent-color: #499f49;
  --current-tab-background: #28282b;
  --background: #18181b;
  --list-item-background: #323234;
  --text-color: #e0e0e0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 8px 0 0 0;
  width: 400px;
  background: var(--background);
}

.input-section {
  margin-bottom: 15px;
  display: flex;
  gap: 5px;
}

.note-input,
.tab-name-input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: var(--list-item-background);
  color: var(--text-color);
}

.note-input:focus,
.tab-name-input {
  outline: none;
}

/* TABS */

.tabs {
  display: flex;
  gap: 0;
  background: var(--background);
  padding: 0 5px 0 5px;
  justify-content: space-between;
}

.tab-buttons-container {
  display: flex;
  gap: 5px;
}

.tab-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.tab-button {
  display: flex;
  align-items: center;
  background: none;
  text-align: left;
  color: var(--text-color);
  position: relative;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  gap: 6px;
  padding: 8px 15px;
}

.tab-button:hover:not(.active) {
  background: var(--list-item-background);
  color: var(--text-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tab-button.active {
  background: var(--current-tab-background);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0;
  z-index: 1;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.tab-button.active::after {
  content: none;
}

.tab-content {
  display: none;
  background: var(--current-tab-background);
  padding: 15px 10px 10px 10px;
  border-radius: 0 5px 5px 5px;
  margin-top: -1px;
}

.tab-content.active {
  display: block;
}

#tabs-content .input-section {
  justify-content: flex-end;
}

/* LIST */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
  background: var(--list-item-background);
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.item-content-notes {
  flex-grow: 1;
  color: var(--text-color);
  word-break: break-word;
}

.item-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item-date {
  font-size: 11px;
  color: #888;
  margin-top: 2px;
}

.item-content-tabs {
  color: var(--accent-color);
  text-decoration: none;
}

/* SAVE BTN */

.save-button {
  color: var(--text-color);
  background: var(--accent-color);
  border: none;
  border-radius: 25px;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 1;
}

.save-button img {
  margin-bottom: 2px;
  display: block;
}

/* DELETE BTN */

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  padding: 5px 8px 3px 8px;
  border-radius: 25px;
  flex: 0;
}

.delete-btn:hover {
  background: #e04444;
}

/* IMPORT EXPORT BTN */

.export-button,
.import-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  padding: 5px 8px;
  border-radius: 25px;
  flex: 0;
  margin-right: 5px;
}

.export-button:hover,
.import-button:hover {
  background: #404044;
}
