body {
  font-family: "Arial", "Helvetica", sans-serif;
  padding: 10px;
  margin: 0;
  width: 500px;
  background: #303034;
}

.input-section {
  margin-bottom: 15px;
  display: flex;
  gap: 5px;
}

#note-input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: #404044;
  color: #e0e0e0;
}

.tabs {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #404044;
}

.tab-button {
  flex: 1;
  background: none;
  color: #c0c0c0;
  padding: 8px 12px;
  position: relative;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
}

.tab-button:hover {
  color: #e0e0e0;
}

.tab-button.active {
  background: none;
  color: #45a245;
}

.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #45a245;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

#tabs-content .input-section {
  justify-content: flex-end;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
  background: #404044;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.item-content-notes {
  flex-grow: 1;
  color: #e0e0e0;
  word-break: break-word;
}

.item-content-tabs {
  color: #5aaf5a;
  text-decoration: none;
}

/* SAVE BTN */

.save-button {
  color: #e0e0e0;
  background: #45a245;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 1;    
}

.save-button:active {
  transform: scale(0.95);
  background: #57b657;
}

.save-button img { 
  margin-bottom: 2px; 
  display: block; 
}

/* DELETE BTN */

.delete-btn {
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all;
  padding: 5px 8px 3px 8px;
  border-radius: 25px;
  flex: 0;
}

.delete-btn:hover {
  background: #e04444;
}

/* IMPORT EXPORT BTN */

.export-button,
.import-button {
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all;
  padding: 5px 8px;
  border-radius: 25px;
  flex: 0;
  margin-right: 5px;
}

.export-button:hover,
.import-button:hover {
  background: #404044;
}
